
body{
  background: url(http://fc05.deviantart.net/fs71/i/2012/270/d/2/golden_crash____free_texture___background_by_supersweetstock-d5g15d9.png);
  background-size: 1500px;
}

img{
  width:250px;
  
}
.container{
  background-color: rgba(250, 242, 192, 0.38);
        height: 300px;
        width: 700px;
        margin: 50px 200px 150px 330px;
        overflow: scroll; 
        position: relative;


}
h1{
  text-align: center;
  font-family: Happy Monkey;
  text-decoration: solid;
  color:white;
  font-size: 78px;
  margin:25px 0 0 0;

}

h2{
   font-family: Happy Monkey;
  color:#bf9350;

}
p{
  font-family: 'Exo 2', sans-serif;
  font-size: 15px;
}
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar:horizontal {
  display: none;
  }
